*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Unica One", Arial, Helvetica, sans-serif;
}
.coffee-shop-container{
    display: grid;
    grid-template-columns: 100px lfr;
}
.left-nav-container{
    grid-area: 1/1/3/2;
}
.header {
    grid-area: 1/2/2/3;
}
.body {
    grid-area: 2/2/3/3;
}
.header {
    text-align: center;
    color: #fff;
    background-color: #292c30;
    padding: 50px;
}
.header-h3 {
    margin-top: 15px;
}
.left-nav-container{
    background: #292c30;
    height: 18vh;
    width: 0px;
    position: fixed;
}
.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
}
.body{
    background-color: #313539;

}
.body-main-img {
    width: 80%;
    height: auto;
    padding: 5%;
    display: block;
    margin: auto;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
#qty{
    background: #fff;
    margin-top: 50px;
    }
    
    .quantity {
        display: flex;
        justify-content: center;
    }
    .quantity button {
        width: 45px;
        height: 45px;
        border: 1px solid #000;
        color: #000;
        border-radius: 0;
        background: #fff;
    }
    .quantity input {
        border: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        text-align: center;
        width: 100px;
        font-size: 20px;
        color: #000;
        font-weight: 300;
    }
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    body{
font-family: 'Roboto, sans-serif;'
    }
    *{
        margin: 0;
        padding: 0;
    }
    i{
        margin-right:10px;
    
    }
    input:focus, button:focus,
    .form-control:focus{
        outline: none;
        box-shadow: none;
    }
    .form-control:disabled, .form-control[readonly]{
        background-color: #fff;
    }
    .table tr,
    .table tr td{
        vertical-align: middle;
    }
    .button-container{
        display: flex;
        align-items: center;
    }
    .button-container .form-control{
        max-width: 80px;
        text-align: center;
        display: inline-block;
        margin: 0px 5px;
    }
    #myTable .form-control{
        width: auto;
        display: inline-block;
    }
    .cart-qty-plus, .cart-qty-minus{
        width: 38px;
        height: 38px;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    .cart-qty-plus:hover,
    .cart-qty-minus:hover{
        background-color: #516lce;
        color: #fff;
    }
    .img-prdct{
        width: 50px;
        height: 50px;
        background-color: #516lce;
        border-radius: 4px;
    }
    .img-prdct img{
        width: 100%;
        
    }